{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Type</th>
            <th>Transacted</th>
        </tr>
    </thead>

    <tbody>
        {% for historic in historics %}
            <tr>
                <td>{{ historic['symbol'] }}</td>
                <td>{{ historic['shares'] }}</td>
                <td>{{ historic['price'] | usd }}</td>
                <td>{{ historic['type'] }}</td>
                <td>{{ historic['time'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}